header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #ff9933;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

/* header => span => class: name for avatar */
header span.name-for-avatar {
  font-weight: normal;
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
  header div h1 {
    padding-left: 0;
  }
}