/* navigation element */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  font-size: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #4056A1;
  color: white; 
  z-index: 2;
  position: fixed;
  top: 0;
}

/* navigation => span element */
nav span.logo {
  display: flex;
  padding-top: 20px;
  font-size: 1.75em;
  font-family: "Bungee", cursive;
}

/*navigation => division =>class defined as right-side */
nav div.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation => icon =>anlge double down icon */
nav div.right-side i {
  display: flex;
  margin-top: -35px;
  color: red;
}

.fa-angle-double-down:hover {
  lighting-color: yellow;
  color:#ffd500
}



