/* navigation element */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  font-size: 3vh;
  padding-left: 1vh;
  padding-right: 1vh;
  color: white; 
  z-index: 2;
  position:relative;
  top: 0;
}

/* navigation => span element */
nav span.logo {
  display: flex;
  padding-top: 20px;
  font-size: 1.75em;
  font-family: "Bungee", cursive;
}

/*navigation => division =>class defined as right-side */
nav div.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation => icon =>anlge double down icon */
nav div.right-side i {
  display: flex;
  margin-top: -20px;
  color: red;
}

.fa-angle-double-down:hover {
  lighting-color: yellow;
  color:#ffd500
}

@media only screen and (min-width: 320px) and (max-width:400px) {
  nav {
    font-size: 16px;
  }

  div.right-side {
    padding-top: 5px;
  }

  .fa-angle-double-down {
    margin-top: -20px;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    background-color: #4056A1;
    position: fixed;
    font-size: 24px;
  }
}